In [1]:
import pymongo

client=pymongo.MongoClient('mongodb://127.0.0.1:27017/')

mydb=client['Employee']   #create and access database
empinfo=mydb.employeeinformation  #create and access collection

In [2]:
record={
    'firstname':'raj',
    'lastname':'tated',
    'department':'Jajoo',
    'age':15
}
empinfo.insert_one(record)  #insert single document

In [3]:
records=[
    {
        'firstname':'daksh',
        'lastname':'tated',
        'department':'NEET',
        'qualification':'12th',
        'age':18
    },
    {
     'firstname':'mitali',
        'lastname':'jangir',
        'department':'10th',
        'qualification': 'none',
        'age':18   
    }
]

empinfo.insert_many(records) #insert many records

getting information

In [4]:
#simple way of getting first document
empinfo.find_one()

{'_id': ObjectId('60b31b36be4aae2fb5e94114'),
 'firstname': 'jatin',
 'lastname': 'jangir',
 'branch': 'cse'}

In [5]:
# to get particular records or document
#similar to SELECT * FROM TABLE_NAME WHERE condition

#to get all
for record in empinfo.find():
    print(record)

{'_id': ObjectId('60b31b36be4aae2fb5e94114'), 'firstname': 'jatin', 'lastname': 'jangir', 'branch': 'cse'}
{'_id': ObjectId('60b39e23c7bb200e5e1dfb45'), 'firstname': 'raj', 'lastname': 'tated', 'department': 'Jajoo', 'age': 15}
{'_id': ObjectId('60b39fc7c7bb200e5e1dfb46'), 'firstname': 'daksh', 'lastname': 'tated', 'department': 'NEET', 'qualification': '12th', 'age': 18}
{'_id': ObjectId('60b39fc7c7bb200e5e1dfb47'), 'firstname': 'mitali', 'lastname': 'jangir', 'department': '10th', 'qualification': 'none', 'age': 18}
{'_id': ObjectId('60b3a0247dc52ff862974e9b'), 'firstname': 'mitali', 'lastname': 'jangir', 'department': '10th', 'qualification': 'none', 'age': 18}

In [6]:
#another method
for record in empinfo.find({}):
    print(record)

{'_id': ObjectId('60b31b36be4aae2fb5e94114'), 'firstname': 'jatin', 'lastname': 'jangir', 'branch': 'cse'}
{'_id': ObjectId('60b39e23c7bb200e5e1dfb45'), 'firstname': 'raj', 'lastname': 'tated', 'department': 'Jajoo', 'age': 15}
{'_id': ObjectId('60b39fc7c7bb200e5e1dfb46'), 'firstname': 'daksh', 'lastname': 'tated', 'department': 'NEET', 'qualification': '12th', 'age': 18}
{'_id': ObjectId('60b39fc7c7bb200e5e1dfb47'), 'firstname': 'mitali', 'lastname': 'jangir', 'department': '10th', 'qualification': 'none', 'age': 18}
{'_id': ObjectId('60b3a0247dc52ff862974e9b'), 'firstname': 'mitali', 'lastname': 'jangir', 'department': '10th', 'qualification': 'none', 'age': 18}

In [7]:
#query JSON document
#here we pass condition in curly braces
for record in empinfo.find({'age':18}):
    print(record)

{'_id': ObjectId('60b39fc7c7bb200e5e1dfb46'), 'firstname': 'daksh', 'lastname': 'tated', 'department': 'NEET', 'qualification': '12th', 'age': 18}
{'_id': ObjectId('60b39fc7c7bb200e5e1dfb47'), 'firstname': 'mitali', 'lastname': 'jangir', 'department': '10th', 'qualification': 'none', 'age': 18}
{'_id': ObjectId('60b3a0247dc52ff862974e9b'), 'firstname': 'mitali', 'lastname': 'jangir', 'department': '10th', 'qualification': 'none', 'age': 18}

In [10]:
# query documents using query operators($in,$it,$gt)

# $in gives range aur can used in Or condition
for record in empinfo.find({'qualification':{'$in':['none','12th']}}):
    print(record)

{'_id': ObjectId('60b39fc7c7bb200e5e1dfb46'), 'firstname': 'daksh', 'lastname': 'tated', 'department': 'NEET', 'qualification': '12th', 'age': 18}
{'_id': ObjectId('60b39fc7c7bb200e5e1dfb47'), 'firstname': 'mitali', 'lastname': 'jangir', 'department': '10th', 'qualification': 'none', 'age': 18}

In [11]:
# AND condition
'''
for record in empinfo.find({'$or':[{'qualification':'12th'},{'lastname':'jangir'}]}):
    print(record)
'''
for record in empinfo.find({'age':18,'department':'10th'}):
    print(record)

{'_id': ObjectId('60b39fc7c7bb200e5e1dfb47'), 'firstname': 'mitali', 'lastname': 'jangir', 'department': '10th', 'qualification': 'none', 'age': 18}

In [12]:
## OR operator
for record in empinfo.find({'$or':[{'qualification':'12th'},{'lastname':'jangir'}]}):
    print(record)

{'_id': ObjectId('60b31b36be4aae2fb5e94114'), 'firstname': 'jatin', 'lastname': 'jangir', 'branch': 'cse'}
{'_id': ObjectId('60b39fc7c7bb200e5e1dfb46'), 'firstname': 'daksh', 'lastname': 'tated', 'department': 'NEET', 'qualification': '12th', 'age': 18}
{'_id': ObjectId('60b39fc7c7bb200e5e1dfb47'), 'firstname': 'mitali', 'lastname': 'jangir', 'department': '10th', 'qualification': 'none', 'age': 18}



Updating records

In [17]:
#update one document

empinfo.update_one(
     {'firstname':'jatin'},
    { "$set":{ 'age':21 ,'qualification':'12th'},
     '$currentDate':{'lastModified':True}}
)

In [20]:
#update many 

empinfo.update_many(
    {'age':18},
    {"$set":{'age':20,'qualification':'10th'},
    '$currentDate':{'lastModified':True}}
)

In [21]:
# replace here we lost previous data

empinfo.replace_one(
  {'firstname':'jatin','qualification':'12th'},
    {
        'firstname':'JATIN',
        'qualification':[
            {'engineering':'2nd year'},
            {'10th':94.2},
            {'12th':78.6}
        ]
    }
)